<a href="https://colab.research.google.com/github/gustapfp/desafio_bix/blob/master/desafio_bix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np


dataset2020 = pd.read_csv('base_vigente_2020.csv')
dataset_anos_anteriores = pd.read_csv('base_vigente_anos_anteriores.csv', sep=';')

mapa_dataset = {
    'class':'Classe'
}

dataset2020 = dataset2020.rename(columns = mapa_dataset)
dataset2020


select2020 = dataset2020.Classe == 'pos'
# select_antes2020 = dataset_anos_anteriores.Classe == 'pos'

In [43]:
pos2020 = dataset2020[select2020]
pos2020

      Classe   aa_000 ab_000 ac_000  ...   ee_008  ee_009 ef_000 eg_000
42       pos  1800546     na     na  ...    52624       0     na     na
100      pos   715316     na     na  ...  3187202  135060      0      0
426      pos  1055714     na     na  ...  6064958  307808      0      0
428      pos    27304      2    512  ...     7472       0      0      0
434      pos  1520540     na     na  ...  4639484  113974     na     na
...      ...      ...    ...    ...  ...      ...     ...    ...    ...
15736    pos   174400     na     na  ...    64186       0     na     na
15783    pos   527262     na   3982  ...       62       0      6     36
15799    pos   756860     na      0  ...  3218640  233972      0      0
15955    pos  1302632     na     na  ...  9406694  496412     na     na
15994    pos   215220     na    414  ...     6154       0      0      0

[375 rows x 171 columns]